<div class="d-flex flex-column min-vh-100 align-items-between">

  <header class="p-2" style="background-color: lightgrey">

    <div class="d-flex bd-highlight">

      <div class="p-2 w-100 d-flex align-items-center"><app-sidebar></app-sidebar></div>

      <div class="p-2 flex-shrink-1 bd-highlight">
        <img src="assets/images/nissan.png" width="90px" height="60px">
      </div>
    </div>

  </header>

  <div class="d-flex flex-column min-vh-100">

    <main class="flex" style="background-color: #ffff;">
      <router-outlet></router-outlet>
    </main>

  </div>

  <footer class="p-2 text-center" style="background-color: lightgrey;">
    <strong>&copy; 2024 NISSAN MEXICANA A1</strong>, Todos los derechos reservados.
  </footer>
</div>
