/* Estilo global para el contenedor principal */
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.min-vh-100 {
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
}

.flex-grow-1 {
  flex-grow: 1; /* Hace que el área de contenido crezca para llenar el espacio disponible */
}

.p-2 {
  padding: 0.5rem; /* Ajusta el padding según sea necesario */
}
