<div class="search-bar-container">
  <form (ngSubmit)="onSubmit()" #searchForm="ngForm" (ngModelChange)="checkFormValidity(searchForm)">
    <div class="search-bar-form">
      <div>
        <label for="startDate">Fecha Inicio:</label>
        <input type="date" id="startDate" name="startDate" ngModel required />
      </div>
      <div>
        <label for="endDate">Fecha Fin:</label>
        <input type="date" id="endDate" name="endDate" ngModel required />
      </div>
      <!-- El botón se muestra solo si el formulario es válido -->
      <button *ngIf="isFormValid" type="submit">Buscar</button>
      <!-- Mensaje de error de fecha -->
      <div *ngIf="dateError" class="error-message">La fecha de inicio no puede ser posterior a la fecha de fin.</div>
    </div>
  </form>
</div>


<ngx-spinner
  bdColor="rgba(0,0,0,0.5)"
  size="default"
  color="#fff"
  type="ball-spin"
>
<div class="la-ball-atom la-3x">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
</ngx-spinner>


<p>METAL LINE FALLAS</p>
