<div class="search-bar-container">
  <form (ngSubmit)="onSubmit()" #searchForm="ngForm" (ngModelChange)="checkFormValidity(searchForm)">
    <div class="search-bar-form">
      <div>
        <label for="startDate">Fecha Inicio:</label>
        <input type="date" id="startDate" name="startDate" ngModel required />
      </div>
      <div>
        <label for="endDate">Fecha Fin:</label>
        <input type="date" id="endDate" name="endDate" ngModel required />
      </div>
      <!-- El botón se muestra solo si el formulario es válido -->
      <button *ngIf="isFormValid" type="submit">Buscar</button>
      <!-- Mensaje de error de fecha -->
      <div *ngIf="dateError" class="error-message">La fecha de inicio no puede ser posterior a la fecha de fin.</div>
    </div>
  </form>
</div>

<ngx-spinner
  bdColor="rgba(0,0,0,0.5)"
  size="default"
  color="#fff"
  type="ball-spin"
>
  <div class="la-ball-atom la-3x">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</ngx-spinner>

<!-- Tabla de Angular Material -->
<mat-card>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef  >ID</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <!-- SHOP_NAME Column -->
        <ng-container matColumnDef="shop_Name">
          <th mat-header-cell *matHeaderCellDef>Shop Name</th>
          <td mat-cell *matCellDef="let element">{{element.shop_Name}}</td>
        </ng-container>

        <!-- FAILURE_DATE Column -->
        <ng-container matColumnDef="failure_Date">
          <th mat-header-cell *matHeaderCellDef  >Failure Date</th>
          <td mat-cell *matCellDef="let element">{{element.failure_Date | date}}</td>
        </ng-container>

        <!-- FAILURE_SHIFT Column -->
        <ng-container matColumnDef="failure_Shift">
          <th mat-header-cell *matHeaderCellDef  >Shift</th>
          <td mat-cell *matCellDef="let element">{{element.failure_Shift}}</td>
        </ng-container>

        <!-- FAILURE_NO Column -->
        <ng-container matColumnDef="failure_No">
          <th mat-header-cell *matHeaderCellDef  >Failure No</th>
          <td mat-cell *matCellDef="let element">{{element.failure_No}}</td>
        </ng-container>

        <!-- FROM_TIME Column -->
        <ng-container matColumnDef="from_Time">
          <th mat-header-cell *matHeaderCellDef  >From Time</th>
          <td mat-cell *matCellDef="let element">{{element.failure_Time}}</td>
        </ng-container>

        <!-- TO_TIME Column -->
        <ng-container matColumnDef="to_Time">
          <th mat-header-cell *matHeaderCellDef  >To Time</th>
          <td mat-cell *matCellDef="let element">{{element.to_Time}}</td>
        </ng-container>

        <!-- FAILURE_TIME Column -->
        <ng-container matColumnDef="failure_Time">
          <th mat-header-cell *matHeaderCellDef  >Failure Time</th>
          <td mat-cell *matCellDef="let element">{{element.failure_Time}}</td>
        </ng-container>

        <!-- CAUSE_NO Column -->
        <ng-container matColumnDef="cause_No">
          <th mat-header-cell *matHeaderCellDef  >Cause No</th>
          <td mat-cell *matCellDef="let element">{{element.cause_No}}</td>
        </ng-container>

        <!-- COMMENT_DATA Column -->
        <ng-container matColumnDef="comment_Data">
          <th mat-header-cell *matHeaderCellDef  >Comment</th>
          <td mat-cell *matCellDef="let element">{{element.comment_Data}}</td>
        </ng-container>

        <!-- Header and Row Definition -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!--<mat-paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 50]"
        showFirstLastButtons
      ></mat-paginator>-->
    </div>
  </mat-card-content>
</mat-card>
<mat-paginator class="fixed" [pageSizeOptions]="[10,25,50,100]" showFirstLastButtons></mat-paginator>
