<div class="search-bar-container">
  <form (ngSubmit)="onSubmit()" #searchForm="ngForm" (ngModelChange)="checkFormValidity(searchForm)">
    <div class="search-bar-form">
      <div>
        <label for="startDate">Fecha Inicio:</label>
        <input type="date" id="startDate" name="startDate" ngModel required />
      </div>
      <div>
        <label for="endDate">Fecha Fin:</label>
        <input type="date" id="endDate" name="endDate" ngModel required />
      </div>
      <div>
        <label for="line">Línea:</label>
        <select id="line" name="line" ngModel required>
          <option value="" disabled selected>Seleccionar Línea</option>
          <option *ngFor="let line of lines" [value]="line">{{ line }}</option>
        </select>
      </div>
      <div>
        <label for="shift">Turno:</label>
        <select id="shift" name="shift" ngModel required>
          <option value="" disabled selected>Seleccionar Turno</option>
          <option *ngFor="let shift of shifts" [value]="shift">{{ shift }}</option>
        </select>
      </div>
      <button *ngIf="isFormValid" type="submit">Buscar</button>
      <div *ngIf="dateError" class="error-message">La fecha de inicio no puede ser posterior a la fecha de fin.</div>
    </div>
  </form>
</div>



<div class="d-flex bd-highlight pl-2 pr-2" *ngIf="lossesResponse.tableData.length > 0">
  <div class="p-2 flex-fill bd-highlight">
    <div class="chart-container">
      <canvas baseChart
      data-chart-type="bar"
              [data]="barChartData"
              [options]="barChartOptions"
              [type]="'bar'">
      </canvas>
    </div>
    <button class="btn btn-dark" mat-button (click)="downloadChart('bar')">Descargar Gráfico</button>
  </div>

  <div class="p-2 flex-fill bd-highlight">
    <div class="chart-container">
      <canvas baseChart
      data-chart-type="pie"
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [options]="pieChartOptions"
              [type]="'pie'">
      </canvas>
    </div>
    <button class="btn btn-dark" mat-button (click)="downloadChart('pie')">Descargar Gráfico</button>
  </div>
</div>







<ngx-spinner
  bdColor="rgba(0,0,0,0.5)"
  size="default"
  color="#fff"
  type="ball-spin"
>
  <div class="la-ball-atom la-3x">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</ngx-spinner>



<!-- Tabla de Angular Material -->
<mat-card [hidden]="dataSource.data.length <= 0">
  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- l_NAME Column -->
        <ng-container matColumnDef="l_NAME">
          <th mat-header-cell *matHeaderCellDef>Linea</th>
          <td mat-cell *matCellDef="let element">{{element.l_NAME}}</td>
        </ng-container>

        <!-- shifT_NAME Column -->
        <ng-container matColumnDef="shifT_NAME">
          <th mat-header-cell *matHeaderCellDef>Turno</th>
          <td mat-cell *matCellDef="let element">{{element.shifT_NAME}}</td>
        </ng-container>

        

        <!-- o_NM Column -->
        <ng-container matColumnDef="o_NM">
          <th mat-header-cell *matHeaderCellDef>Error</th>
          <td mat-cell *matCellDef="let element">{{element.o_NM}}</td>
        </ng-container>

       

        <!-- s_TIM_S Column -->
        <ng-container matColumnDef="s_TIM_S">
          <th mat-header-cell *matHeaderCellDef>Tiempo De Paro (Segundos)</th>
          <td mat-cell *matCellDef="let element">{{element.s_TIM_S}}</td>
        </ng-container>

        <!-- evenT_DATE Column -->
        <ng-container matColumnDef="evenT_DATE">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let element">{{element.evenT_DATE | date}}</td>
        </ng-container>

        <!-- typE_LOSSES Column -->
        <ng-container matColumnDef="typE_LOSSES">
          <th mat-header-cell *matHeaderCellDef>Tipo De Perdida</th>
          <td mat-cell *matCellDef="let element">{{element.typE_LOSSES}}</td>
        </ng-container>

        <!-- Header and Row Definition -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>

<!-- Contenedor para el paginador y el botón de descarga -->
<div class="paginator-container" [hidden]="dataSource.data.length <= 0">
  <button class="btn btn-dark" mat-button (click)="createXlsFile()">Descargar XLSX</button> <!-- Botón de descarga -->
  <mat-paginator class="fixed" [pageSizeOptions]="[6, 12, 20, 30]" showFirstLastButtons></mat-paginator>
</div>
























